@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body,
html {
    height: 100%;
    margin: 0;
}


body {
    margin: 0;
    padding: 0;
    background: #f6f7fd;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    color: #444;
    overflow-x: hidden;
}


/*------------ Form Main Layout ------------*/

.custom-container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    clear: both;
    padding: 0 15px;
}

.form-main-contain {
    width: 100%;
    float: left;
    position: relative;
    /* background: rgba(255, 255, 255, 0.9); */
    margin: 45px 0;
    border-radius: 6px;
    /* border: 1px solid #fff; */
    padding: 25px 35px 15px 35px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.form-title {
    width: 100%;
    float: left;
    position: relative;
    text-align: center;
    margin: 0 0 30px 0;
    /* border-bottom: 1px solid #ffffff; */
}

.form-title h2 {
      width: 100%;
    float: left;
    margin: 0;
    padding: 0px 0 15px 0;
    font-size: 28px;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #264363;
}
h5.heading-block {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 35px;
    color: #8798ad;
}

.form-field-row {
    width: 100%;
    float: left;
    position: relative;
    background-color: #ffffff;
    padding: 30px;
    margin: 0 0 40px;
    box-shadow: 2px 0px 20px rgba(148, 169, 245, 0.2);
    border-radius: 0px;
}
.form-field-col3 {
    width: 100%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px;
    position: relative;
    margin: 0 0 20px 0;
}



.form-field-col4 {
    width: 100%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding: 0 15px;
    position: relative;
    margin: 0 0 20px 0;
}

.form-field-col6 {
    width: 100%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
    position: relative;
    margin: 0 0 20px 0;
}

.form-field-col8 {
    width: 100%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding: 0 15px;
    position: relative;
    margin: 0 0 20px 0;
}

.form-field-col12 {
    width: 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
    position: relative;
    margin: 0 0 20px 0;
}


.form-field-title {
   width: 100%;
    float: left;
    position: relative;
    margin: 0 0 5px 0;
    font-size: 13px;
    line-height: 1.2;
    color: #b0bac9;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
}


.form-field-row input,
.form-field-row textarea ,
.form-field-row select {
       width: 100%;
    float: left;
    height: 40px;
    border: 1px solid #e0e7ff;
    border-radius: 5px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    padding: 5px 35px 5px 10px;
    font-size: 14px;
    color: #557493;
    background-color: #f9faff;
}
.form-field-row select {
     -webkit-appearance: none; /* WebKit */
  -moz-appearance: none; /* Mozilla */
  appearance: none; /* CSS3 */
}

.form-field-row textarea {
    height: 120px;
}


.profile-pic-contain {
    width: 100%;
    max-width: 180px;
    height: auto;
    overflow: hidden;
    margin: 0 0 15px 0;
    position: relative;
    padding: 5px;
}

.profile-pic-contain .profile-pic-thumb {
    width: 100%;
    max-width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    border: 4px solid #fff;
}

.profile-pic-contain .profile-pic-thumb img.profile-pic {
    width: 160px;
    height: 160px;
}

.profile-pic-contain .p-image {
    width: 28px;
    height: 28px;
    position: absolute;
    right: 7px;
    top: 50%;
}

.profile-pic-contain .p-image {
    width: 28px;
    height: 28px;
    position: absolute;
    right: 7px;
    top: 50%;
    cursor: pointer;
}


.profile-pic-contain .p-image i {
    font-size: 28px;
    line-height: 1.2;
}

.profile-pic-contain .p-image .file-upload {
    display: none;
}


.photo-name-title {
    position: absolute;
    left: 220px;
    top: 50%;
    transform: translateY(-50%);
}


.photo-name-title h4 {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 600;
    color: #264363;
}

.form-field-Submit {
    width: 100%;
    float: left;
    margin: 15px 0;
    position: relative;
}


.form-field-Submit [type="reset"],
.form-field-Submit [type="submit"],
.form-field-Submit button,
.form-field-Submit [type="button"] {
   color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(51, 96, 222, 0.4);
    font-size: 16px;
    line-height: 1.2;
    cursor: pointer;
    background: #2e5bff;
    background: -moz-linear-gradient(left, #2249d6 0%, #2e5bff 100%);
    background: -webkit-linear-gradient(left, #2249d6 0%, #2e5bff 100%);
    background: linear-gradient(to right, #2249d6 0%, #2e5bff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2249d6', endColorstr='#2e5bff', GradientType=1);

}


.form-field-Submit [type="reset"]:focus,
.form-field-Submit [type="submit"]:focus,
.form-field-Submit button:focus,
.form-field-Submit [type="button"]:focus,
.form-field-Submit [type="reset"]:hover,
.form-field-Submit [type="submit"]:hover,
.form-field-Submit button:hover,
.form-field-Submit [type="button"]:hover {
    color: #fff;
    background: #2e5bff;
    /* Old browsers */
    background: -moz-linear-gradient(left, #2e5bff 0%, #2249d6 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #2e5bff 0%, #2249d6 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #2e5bff 0%, #2249d6 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e5bff', endColorstr='#2249d6', GradientType=1);
    /* IE6-9 */
}


/* Checkbox */

.check_container {
  width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    right: auto;
    left: 15px;
    top: 25px;
    z-index: 1;
}


.check_container input[type="checkbox"] {
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 10px;
    cursor: pointer;
    opacity: 0;
}

.check_container .checkmark {
      width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 10px;
    background: #f9faff;
    border-radius: 2px;
    border: 1px solid #2e5bff;
}

.check_container input:checked ~ .checkmark::after {
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    left: 4px;
    top: 2px;
    font-family: 'FontAwesome';
    content: "\f00c";
    color: #2e5bff;
    line-height: 1.2;
    font-size: 16px;
}




/*------- Typography -------*/

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}
h5.check-heading i {
    color: #fff;
    background: #58c53d;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    font-size: 16px;
    padding: 4px;
}
h5.check-heading {
    font-size: 16px;
    color: #264363;
}


.form-arrow-main {
    width: 100%;
    float: left;
    position: absolute;
    top: 65px;
    z-index: 9;
}

.form-arrow-main a {
    width: 45px;
    float: left;
    height: 45px;
    text-align: center;
    font-size: 36px;
    line-height: 1.2;
    position: absolute;
    color: #2e5bff;
    text-shadow: 0 2px 2px rgba(46, 91, 255, 0.4);
}


.form-arrow-main a:focus,
.form-arrow-main a:hover {
    color: #325cf3;
    transition: 0.5s;
}


.form-arrow-main a.arrow-left {
    left: -50px;
    top: 0;
}

.form-arrow-main a.arrow-right {
    right: -20px;
    top: 0;
}




.form-section-main {
    width: 100%;
    float: left;
    position: relative;
    margin: 0 0 15px 0;
}


.loop-div-content {
    width: 100%;
    float: left;
    position: relative;
}

.form-field-col12 h4 {
    width: 100%;
    float: left;
    margin: 15px 0 0 0;
    padding: 0 0 10px 0;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #264363;
    text-align: left;
    border-bottom: 1px solid #E7E7E7;
}

/*Added 07-Feb-2019*/

body .form-field-row hr {
    border: none;
    margin-bottom: 0 !important;
}
form#form-CDO1 .form-field-row.fisrt {
    padding-top: 45px;
}
form.debtors .form-field-row {
    padding: 40px 30px 25px;
}
form.debtors .form-field-col4.margin-b {
    margin-bottom: 0;
}

/*------- Responsive -------*/


@media(max-width:1280px) {

    .form-arrow-main a.arrow-left {
        left: 0;
        top: 0;
    }

    .form-arrow-main a.arrow-right {
        right: 30px;
        top: 0;
    }

    .form-title {
        padding: 0 45px;
    }

}


@media(max-width:767px) {

    .form-field-col3 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

}



@media(max-width:576px) {

    .form-field-col3,
    .form-field-col6,
    .form-field-col8 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .form-field-col4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

}


@media(max-width:480px) {

    .form-field-col3,
    .form-field-col6,
    .form-field-col8 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .profile-pic-contain {
        margin: 0 auto 15px auto;
    }

    .photo-name-title {
        position: relative;
        left: 0;
        top: 0;
        transform: translateY(0%);
        width: 100%;
        text-align: center;
        float: left;
        margin-bottom: 15px;
    }

}

/********************************/
.form-chbox {
    min-height: 62px;
}
.form-chbox:after {
    position: absolute;
    content: '';
    width: calc(100% - 30px);
    left: 15px;
    bottom: 0;
    height: 40px;
    background-color: #fff;
    border: 1px solid #DEDEDE;
    border-radius: 0;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    background-color: #f1f1f1;
}

/*.form-chbox .check_container {
    left: 25px;
    right: auto;
}*/
/*.check_container{
    display: none;
}*/

#form-CDO2,#form-CDO1  hr{
    clear: both;
    display: block;
    -webkit-width: calc(100% - 30px);
    -moz-width: calc(100% - 30px);
    -ms-width: calc(100% - 30px);
    -o-width: calc(100% - 30px);
    width: calc(100% - 30px);
    margin: 12px auto 28px;    
}


p.rotate-90 {
    margin: 0;
    font-size: 12px;
    padding: 3px;
    display: block;
    text-transform: capitalize;
    clear: both;
}
.form-chbox p.rotate-90 {
    position: absolute;
    top:100%;
}

@media(max-width:767px) {
#form-CDO2 hr{
    margin-top:4px;
    margin-bottom: 20px;
}
.form-title h2{
    font-size: 20px;
    line-height: 30px;
}
}

form {
display: inline-block;
width: 100%;
}
.form-chbox:after {
    background: transparent;
    border: none;
}
