@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

html{
    font-size: 15px;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #2E384D;
  font-size: 1rem;
}
h1,h2,h3,h4,h5{
  font-family: 'Montserrat', sans-serif;
  color: #2E384D;
}
img {
    max-width: 100%;
}
a,a:hover{
    color: #f37c20;
}

a.forgot_pass_link,.btn,
.custom_table tr{
    transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
}

.c_orange{
    color: #f37c20;
}
.c_light{
    color: #BFC5D2;
}
.fw-300 {
    font-weight: 300;
}
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}
.fw-700 {
    font-weight: 700;
}
.fw-800 {
    font-weight: 800;
}
.fw-900 {
    font-weight: 900;
}
.bg_orange {
    background: #f37c20;
    color: #fff;
}
.btn i {
    font-size: 1.2rem;
}
.btn {
    box-shadow: 0 2px 20px rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 20px rgba(0,0,0,0.12);
    -moz-box-shadow: 0 2px 20px rgba(0,0,0,0.12);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-weight: 500;
}
.btn.bg_orange {
    box-shadow: 0 2px 20px rgba(243,124,32,0.12);
    -webkit-box-shadow: 0 2px 20px rgba(243,124,32,0.12);
    -moz-box-shadow: 0 2px 20px rgba(243,124,32,0.12);
}
.btn:hover,
.btn.bg-white:hover{
    box-shadow: 0 2px 20px rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 20px rgba(0,0,0,0.12);
    -moz-box-shadow: 0 2px 20px rgba(0,0,0,0.12);
    background: #2E384D!important;
    color: #fff;
}
.btn.bg_orange:hover {
    background: #2E384D;
    color: #fff;
    box-shadow: 0 2px 20px rgba(243,124,32,0.12);
    -webkit-box-shadow: 0 2px 20px rgba(243,124,32,0.12);
    -moz-box-shadow: 0 2px 20px rgba(243,124,32,0.12);
}


.form-control::-webkit-input-placeholder { 
  color: #2E384D;
  opacity: 1;
}
.form-control::-moz-placeholder { 
  color: #2E384D;
  opacity: 1;
}
.form-control:-ms-input-placeholder { 
  color: #2E384D;
  opacity: 1;
}
.form-control:-moz-placeholder { 
  color: #2E384D;
  opacity: 1;
}


/*Custom style*/

.sidebar .nav .nav-item .nav-link .menu-title {
    font-size: 1rem;
    font-weight: 500;
}

button.navbar-toggler.navbar-toggler span:before {
    color: #BFC5D2;
}
.sidebar ul.nav li.nav-item a.nav-link img {
    max-width: 23px;
    margin: 0 15px 0 0;
}
.sidebar ul.nav li.nav-item a.nav-link.active {
    color: #f37c20;
    background-color: #e8edff;
    border-left: 1px solid #f37c20;
}
.sidebar ul.nav li.nav-item a.nav-link {
    padding: 18px 20px;
    color: #B0BAC9;
}
.input-group.search_wrap .input-group-prepend,
.input-group.search_wrap  input {
    height: 75px;
}
body .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group input.form-control {
    color: #BFC5D2;
    font-size: 18px;
    font-weight: 400;
    padding-left: 15px;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group {
    padding: 0 15px 0 20px;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item {
    margin-left: 28px!important;
    margin-right: 0!important;
}




@font-face {
  font-family: 'fontello';
  src: url('../fonts/icons/fontello.eot');
  src: url('../fonts/icons/fontello.eot') format('embedded-opentype'),
       url('../fonts/icons/fontello.woff2') format('woff2'),
       url('../fonts/icons/fontello.woff') format('woff'),
       url('../fonts/icons/fontello.ttf') format('truetype'),
       url('../fonts/icons/fontello.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
 [class^="c-icon-"]:before, [class*=" c-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 
.c-icon-mail:before { content: '\e801'; } /* '' */
.c-icon-menu-icon:before { content: '\e803'; } /* '' */
.c-icon-notification:before { content: '\e804'; } /* '' */
.c-icon-refresh:before { content: '\e806'; } /* '' */
.c-icon-search:before { content: '\e807'; } /* '' */
.c-icon-settings:before { content: '\e808'; } /* '' */
.c-icon-dashboard:before { content: '\e80a'; } /* '' */
.c-icon-calnder:before { content: '\e80d'; } /* '' */
.c-icon-phone:before { content: '\e80e'; } /* '' */
.c-icon-group:before { content: '\e80f'; } /* '' */



.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown i {
    font-size: 1.5rem;
    color: #BFC5D2;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown i.c-icon-mail {
    font-size: 20px;
}
.navbar .navbar-brand-wrapper .navbar-brand-inner-wrapper .navbar-toggler {
    font-size: 16px;
}
.navbar .navbar-brand-wrapper .navbar-brand-inner-wrapper .navbar-brand {
    margin: 0 20px 0 0;
}
.navbar .navbar-brand-wrapper .navbar-brand-inner-wrapper .navbar-brand img {
    width: 195px;
}
.navbar {
    border-bottom: 1px solid #e4e8f0b3;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .item-thumbnail i {
    color: #fff;
    margin: 0;
}
.tabs_nav {
    margin: 0 0 30px;
    display: flex;
}
.tabs_nav .nav-tabs .nav-item .nav-link, ul.c_right_nav_list li a {
    padding: 0 30px;
    height: 71px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
    position: relative;
    font-weight: 500;
    color: #2E384D;
    font-size: 1rem;
    text-decoration: none;
}
.tabs_nav .nav-tabs .nav-item .nav-link:hover, ul.c_right_nav_list li a:hover{
    color: #f37c20;
}
ul.c_right_nav_list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: auto;
    display: flex;
}
ul.c_right_nav_list li {
    border-left: 1px solid rgba(46,91,255,0.08);
}
.tabs_nav,
.tab-content {
    border: 1px solid rgba(46,91,255,0.08);
}
.tabs_nav .nav-tabs .nav-item .nav-link.active:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    border-style: solid;
    border-color: transparent transparent #f37c20 transparent;
    border-width: 0 5px 5px 5px;
    margin-left: -5px;
}
.tabs_nav .nav-tabs .nav-item {
    margin-bottom: -1px;
    border-right: 1px solid rgba(46,91,255,0.08);
}
.tabs_nav .nav-tabs {
    padding: 0;
    border: 0;
}

.tabs_nav .nav-tabs .nav-item .nav-link.active {
    border-color: #f37c20;
    color: #f37c20;
}


.managing_tools_block label.checkbox input {
    display: none;
}

.managing_tools_block label.checkbox {
    height: 110px;
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #f2f4fa;
    padding: 0 20px;
    border-radius: 5px;
    position: relative;
    margin: 0 0 30px;
    cursor: pointer;
}
.managing_tools_block label.checkbox span {
    display: inline-block;
    vertical-align: middle;
    font-weight: 500;
    color: #2E384D;
    cursor: pointer;
    position: relative;
    padding-left: 80px;
}
.managing_tools_block label.checkbox span:before {
    display: inline-block;
    content: "";
    height: 65px;
    width: 65px;
    vertical-align: middle;
    margin-right: 0;
    background: #f0f4f7;
    border-radius: 50%;
    border: 1px solid #ecf0f6;
    text-align: center;
    font-size: 28px;
    padding: 17px 0;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.managing_tools_block label.checkbox input[type="checkbox"]:checked + span:before {
    border-color: #f37c20;
    content: "\f00c";
    font-family: fontAwesome;
    color: #fff;
    background: #f37c20;
}
form.managing_tools_block hr {
    border-top: 2px solid #f2f4fa;
    margin: 0 0 30px;
}
form.managing_tools_block h6 {
    font-weight: 600;
    color: #8798AD;
    letter-spacing: 0.05em;
    margin: 12px 0 20px;
}
form.managing_tools_block h6 + p {
    margin: 0 0 30px;
    font-weight: 500;
}


/*login page style
======================================================*/
.login_wrapper_inner {
    display: flex;
}
.login_wrapper_inner > .login_left {
    width: 48%;
    padding: 20px;
}
.login_wrapper_inner > .login_right {
    width: 52%;
}
.login_form_wrap .login_form_inner {
    padding: 40px 0;
    max-width: 310px;
    margin: 0 auto;
    width: 100%;
}

.login_logo_div {
    padding: 20px 0;
    text-align: center;
    max-width: 200px;
    margin: 0 auto;
}
.login_form_wrap {
    min-height: calc(100vh - 102px);
    display: flex;
    align-items: center;
    width: 100%;
}
.login_form_wrap input.form-control {
    border: 1px solid #E0E7FF;
    background: #f9faff;
    border-radius: 5px;
    font-size: 1rem;
    color: #2E384D;
}
.login_head {
    margin: 0 0 45px;
}
.login_head h2 {
    margin: 0 0 10px;
}
.login_head p {
    color: #8798AD;
    font-size: 0.95rem;
}
.login_form_inner label {
    color: #B0BAC9;
    margin: 0 0 5px;
}
.login_form_inner .btn {
    width: 100%;
    display: block;
    height: 50px;
    font-weight: 500;
    font-size: 1rem;
    margin: 0 0 15px;
}
.login_form_inner form,
.login_form_inner form .form-control {
    font-family: 'Arial', 'Montserrat', sans-serif;
    letter-spacing: 0.02rem;
}

a.forgot_pass_link {
    float: right;
    color: #B0BAC9;
    font-weight: 500;
}
a.forgot_pass_link:hover{
    color: #f37c20;
}

.login_right_banner {
    min-height: 100vh;
    max-height: 100vh;
}
.login_right_banner img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link {
    width: 38px;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .item-thumbnail {
    width: 2.25rem;
    height: 2.25rem;
}

/*Dashboard page style
==================================================================*/
.local_times ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.local_times ul li {
    display: inline-block;
    padding: 3px 20px;
    color: #b7becc;
}
.local_times {
    margin: -30px -30px 30px -60px;
    background: #f8f9fd;
    padding: 12px 15px;
    border-top: 1px solid rgba(46,91,255,0.08);
    border-bottom: 1px solid rgba(46,91,255,0.04);
    text-align: center;
}

.dashbaord_cards_list .card {
    border: 1px solid rgba(46,91,255,0.08);
    margin: 0 0 20px;
}
.dashbaord_cards_list{
    padding: 0 0 10px;
}
.dashbaord_cards_list .card .card-body {
    padding: 22px;
}
.dashbaord_cards_list a{
    text-decoration: none;
}
.card-head {
    color: #8798AD;
    font-weight: bold;
    font-size: 13px;
}
.large_text {
    color: #2E384D;
    font-size: 42px;
    font-weight: 500;
    margin: 6px 0;
}
.up_down_value {
    font-weight: 600;
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 10px auto;
    padding-left: 17px;
    display: inline-block;
}
.up_down_value.going_up {
    color: #2DB744;
    background-image: url(../images/up-arrow.png);
}
.nav-tabs.tabs_style_btn .nav-item .nav-link {
    border: 0;
    background: #fff;
    padding: 10px 15px;
    font-size: 0.875rem;
    line-height: 1;
    font-weight: 500;
    box-shadow: 0 2px 20px rgba(0,0,0,0.12);
    border-radius: 5px;
    min-width: 132px;
    text-align: center;
    border: 2px solid transparent;
    color: #2E384D;
}
.nav-tabs.tabs_style_btn .nav-item {
    margin: 0 10px;
}
.nav-tabs.tabs_style_btn {
    border: 0;
}
.nav-tabs.tabs_style_btn .nav-item .nav-link.active {
    border-color: #f37c20;
    color: #2E384D;
    font-weight: bold;
}
.custom_table {
    border: 0;
    display: block;
    min-width: 925px;
}
.custom_table a{
    text-decoration: none;
}
.custom_table thead, .custom_table tbody {
    display: block;
}
.custom_table tr {
    display: flex;
    width: 100%;
    justify-content: stretch;
    margin: 0 0 10px;
    align-items: stretch;
}
.custom_table tr:hover {
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    box-shadow: 0 8px 30px rgba(0,0,0,0.06);
    -webkit-box-shadow: 0 8px 30px rgba(0,0,0,0.06);
    -moz-box-shadow: 0 8px 30px rgba(0,0,0,0.06);
    -ms-box-shadow: 0 8px 30px rgba(0,0,0,0.06);
}
.custom_table tr th,.custom_table tr td{
    font-size: 13px;
}
.custom_table tr th {
    padding: 2px 15px;
    font-weight: 700;
    color: #BFC5D2;
}
.custom_table tr td {
    background: #fff;
    padding: 0;
    border-top: 1px solid rgba(46,91,255,0.15);
    border-bottom: 1px solid rgba(46,91,255,0.15);
    padding: 0px 15px;
    min-height: 60px;
}
.t_l_reference {
    width: 15%;
}
.t_l_client {
    width: 22%;
}
.t_l_title {
    width: 23%;
}
.t_l_props {
    width: 15%;
}
.t_l_time {
    width: 15%;
}
.t_l_action {
    width: 100px;
}
.t_l_works {
    width: 60px;
    text-align: center;
}
.custom_table tr td.t_l_action > div,
.custom_table tr td.t_l_works > div {
    justify-content: center;
}

.custom_table tr td:first-child {
    border-left: 1px solid rgba(46,91,255,0.15);    
}
.custom_table tr td:last-child{
    border-right: 1px solid rgba(46,91,255,0.15);    
}
.custom_table td > div {
    background: #fff;
    height: 100%;
    display: flex;
    align-items: center;
}
.tab-content {
    border: 0;
}
.custom_table tr td.t_l_works,
.custom_table tr th.t_l_works {
    padding: 0;
}
.t_l_works label span {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
}
.t_l_works label {
    background: #fafafa;
    height: 100%;
    margin: 0;
    display: block;
    width: 100%;
    cursor: pointer;
    border-left: 1px solid #f7f7f7;
}
.custom_table tr td.t_l_works {
    padding: 0;
}
.t_l_works label input {
    display: none;
}
.t_l_works label span:after {
    display: block;
    content: "";
    height: 18px;
    width: 18px;
    background: #e1e1dd;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -9px 0 0 -9px;
}
.t_l_works label input:checked + span:after {
    background:#f37c20; 
}
.custom_table tr td.t_l_action i {
    color: #bfc5d2;
    font-size: 22px;
}
.more_results.text-center {
    height: 1px;
    background: #E4E8F0;
    margin: 40px 0;
}
.more_results.text-center a {
    display: inline-block;
    font-size: 14px;
    position: relative;
    transform: translateY(-51%);
    background: #F6F7FD;
    padding: 0 20px;
    color: #B0BAC9;
    text-transform: uppercase;
    letter-spacing: 0.03rem;
}




/*My Responsive style
==================================================================*/
@media only screen and (max-width: 1199px) {
.content-wrapper {
    padding: 30px 20px 30px 20px;
}
.local_times {
    margin: -30px -20px 30px -20px;
}
.local_times ul li {
    padding: 3px 10px;
}
.tabs_nav .nav-tabs .nav-item .nav-link, ul.c_right_nav_list li a {
    padding: 0 20px;
}

@media only screen and (max-width: 1024px) {
.login_right_banner {
    height: 100vh;
}
}

@media only screen and (min-width: 991px) {
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.mobile_navbar_toggle {
    margin-left: 0!important;
}
}

@media only screen and (max-width: 991px) {
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.mobile_navbar_toggle {
    margin-left: 8px!important;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown{
    position: relative;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown {
    left: auto;
    right: 0;
    top: 60px;
    width: 300px;
}
.navbar .navbar-brand-wrapper .navbar-brand-inner-wrapper .navbar-brand {
    display: block;
    margin: 0;
}
.sidebar-offcanvas {
    max-height: calc(100vh - 75px);
    top: 75px;
}
.navbar .navbar-brand-wrapper {
    width: 200px;
}
.navbar .navbar-menu-wrapper .navbar-toggler.navbar-toggler-right {
    font-size: 16px;
}
.navbar .navbar-menu-wrapper {
    width: calc(100% - 200px);
}
}


@media only screen and (max-width: 767px) {
h2, .h2 {
    font-size: 1.675rem;
}
.tabs_nav .nav-tabs .nav-item .nav-link, ul.c_right_nav_list li a {
    padding: 0 15px;
    height: 50px;
}
.content-wrapper {
    padding: 30px 15px 30px 15px;
}
.local_times {
    margin: -30px -15px 30px -15px;
}
.login_wrapper_inner {
    display: block;
}
.login_wrapper_inner > .login_right {
    display: none;
    width: 100%;
}
.login_wrapper_inner > .login_left {
    width: 100%;
}
.nav-tabs.tabs_style_btn .nav-item {
    margin: 0 5px 8px;
}
}

@media only screen and (max-width: 639px) {
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown {
    left: 15px;
    right: 15px;
    top: 60px;
    width: auto;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown{
    position: static;
}
.tabs_nav {
    display: block;
    border: 0;
    background: transparent!important;
}
.tabs_nav .nav-tabs {
    padding: 0;
    margin:0 0 15px;
}
.tabs_nav > ul,.tabs_nav .nav-tabs {
    background: #fff;
    border: 1px solid rgba(46,91,255,0.08);
}
ul.c_right_nav_list li a {
    border-bottom-width: 0;
}
.tabs_nav .nav-tabs .nav-item,
ul.c_right_nav_list li {
    width: 50%;
}
.tabs_nav .nav-tabs .nav-item .nav-link, ul.c_right_nav_list li a {
    padding: 0 15px;
    height: 50px;
    text-align: center;
    justify-content: center;
    border-bottom-color: rgba(46,91,255,0.08);
}
}

@media only screen and (max-width: 479px) {
.navbar .navbar-menu-wrapper .navbar-nav .nav-item {
    margin-left: 15px!important;
    margin-right: 0!important;
}
.navbar .navbar-brand-wrapper {
    width: 100%;
    text-align: center;
    height: auto;
}
.navbar .navbar-menu-wrapper {
    width: 100%;
    height: auto;
    display: block!important
}
.navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
    width: 100%;
}
.navbar .navbar-brand-wrapper .navbar-brand-inner-wrapper {
    display: block!important;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item {
    margin: 0!important;
    width: 20%;
    justify-content: center;
}
.navbar .navbar-brand-wrapper .navbar-brand-inner-wrapper .navbar-brand {
    margin: 0 0 2px;
}
nav.navbar.fixed-top {
    padding: 5px 0!important;
    background: #fff;
}
.page-body-wrapper {
    padding-top: 100px;
}
.sidebar-offcanvas {
    max-height: calc(100vh - 100px);
    top: 100px;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown {
    top: 100px;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.mobile_navbar_toggle {
    margin-left: 0px!important;
}
}