           <div class="row ">
                <div class="form-title">
                    <h2>Client/Agents(CD-O1)</h2>
                </div>
            </div>

            <form name="form-CDO1" id="form-CDO1" class="" >
                <div class="form-field-row">
                    <div class="row">

                      <div class="form-field-col4">
                            <label class="form-field-title">Client Code</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="client_code_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="client_code">
                        </div>


                        <div class="form-field-col6">
                            <label class="form-field-title">Name</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="name_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="name">
                        </div>

                         <div class="form-field-col4">
                            <label class="form-field-title">Title note</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="title_note_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="title_note">
                        </div>



                       <div class="form-field-col4">
                            <label class="form-field-title">Real group</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="real_group_c">
                                <span class="checkmark"></span>
                            </label>
                           <!--  <input type="text" value="" id="real_group"> -->
                                    <select class="browser-default custom-select" id="real_group">
                                    <option value="0">Really  Great</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                    </select>
                        </div>

                    </div>
                </div>


               <div class="form-field-row">
                    <div class="row">
                         <div class="form-field-col4">
                            <label class="form-field-title">Login type</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="login_type_c">
                                <span class="checkmark"></span>
                            </label>
                            <!-- <input type="text" value="" id="login_type"> -->
                            <select class="browser-default custom-select" id="login_type">
                                    <option value="0">Real Estate Agent</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                    </select>
                        </div>


                          <div class="form-field-col6">
                            <label class="form-field-title">SMS name</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="sms_name_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="sms_name">
                        </div>

                         <div class="form-field-col6">
                            <label class="form-field-title">Address 1</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="address_1_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="address_1">
                        </div>


                        <div class="form-field-col6">
                            <label class="form-field-title">Address 2</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="address_2_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="address_2">
                        </div>



                     </div>
                </div>




                <div class="form-field-row">
                    <div class="row">

                       <div class="form-field-col4">
                            <label class="form-field-title">Street</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="street_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="street">
                        </div>


                        <div class="form-field-col4">
                            <label class="form-field-title">Suburb</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="suburb_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="suburb">
                        </div>
                      

                        <div class="form-field-col4">
                            <label class="form-field-title">Country</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="country_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="country">
                        </div>


                        <div class="form-field-col4">
                            <label class="form-field-title">State</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="state_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="state">
                        </div>

                       <div class="form-field-col4">
                            <label class="form-field-title">Post code</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="post_code_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="post_code">
                        </div>

                      
                    </div>
                </div>

                   



                <div class="form-field-row">
                    <div class="row">


                        <div class="form-field-col4">
                            <label class="form-field-title">Contact title 2</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="contact_2_title_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="contact_2_title" placeholder="Mr/Mrs./Miss">
                        </div>


                        <div class="form-field-col4">
                            <label class="form-field-title">Contact Name 2</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="contact_2_first_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="contact_2_first" placeholder="Micheal">
                        </div>

                        <div class="form-field-col4">
                            <label class="form-field-title">Contact Last Name 2</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="contact_2_last_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="contact_2_last" placeholder="Smith">
                        </div>

                    </div>
                </div>


                   <div class="form-field-row">
                    <div class="row">


                        <div class="form-field-col4">
                            <label class="form-field-title">Prop title</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="prop_man_title_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="prop_man_title" placeholder="Mr/Mrs./Miss">
                        </div>


                        <div class="form-field-col4">
                            <label class="form-field-title">Prop Name</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="prop_man_first_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="prop_man_first" placeholder="Micheal">
                        </div>

                        <div class="form-field-col4">
                            <label class="form-field-title">Prop Last Name</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="prop_man_last_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="prop_man_last" placeholder="Smith">
                        </div>

                    </div>
                </div>


                 <div class="form-field-row">
                    <div class="row">


                        <div class="form-field-col4">
                            <label class="form-field-title">Phone 1</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="phone_1_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="phone_1" placeholder="202-555-0191">
                        </div>


                        <div class="form-field-col4">
                            <label class="form-field-title">Phone 2</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="phone_2_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="phone_2" placeholder="202-555-0191">
                        </div>

                        <div class="form-field-col4">
                            <label class="form-field-title">Mobile</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="mobile_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="mobile" placeholder="202-555-0191">
                        </div>

                          <div class="form-field-col4">
                            <label class="form-field-title">mobile 2</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="mobile_2_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="mobile_2">
                        </div>

                    </div>
                </div>

               <div class="form-field-row">
                    <div class="row">

                      <div class="form-field-col4">
                            <label class="form-field-title">Fax</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="fax_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="fax" placeholder="(866) 439-6470">
                        </div>
                      
                       <div class="form-field-col4">
                            <label class="form-field-title">Arrears phone</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="arrears_phone_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="arrears_phone">
                        </div>
                          <div class="form-field-col4">
                            <label class="form-field-title">Invoice type</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="invoice_contact_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="invoice_contact">
                        </div>

                     </div>
                </div>

                <div class="form-field-row">
                    <div class="row">
                        <div class="form-field-col4">
                            <label class="form-field-title">Email</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="email_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="email" value="" id="email" placeholder="">
                        </div>
                       
                        <div class="form-field-col12">
                            <label class="form-field-title">Principal email</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="principal_email_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="principal_email" placeholder="info@gmail.com">
                        </div>
                        <div class="form-field-col12">
                            <label class="form-field-title">Prop Manager Email</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="prop_man_email_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="prop_man_email" placeholder="info@gmail.com">
                        </div>


                        <div class="form-field-col4">
                           <label class="form-field-title">Accounts email</label>
                           <label class="check_container">
                                   <input type="checkbox" name="type" id="accounts_email_c">
                                   <span class="checkmark"></span>
                           </label>
                        <input type="text" value="" id="accounts_email">
                        </div>

                        <div class="form-field-col4">
                            <label class="form-field-title">PDF email</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="pdf_email_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="pdf_email">
                        </div>

                         <div class="form-field-col4">
                            <label class="form-field-title">Invoice email</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="invoice_email_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="invoice_email">
                        </div>

                         <div class="form-field-col4">
                            <label class="form-field-title">BDM email</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="bdm_email_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="bdm_email">
                        </div>

                      </div>
                </div>


                 <div class="form-field-row">
                    <div class="row">


                        <div class="form-field-col3">
                            <label class="form-field-title">Abn</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="abn_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="abn">
                        </div>


                        <div class="form-field-col3">
                            <label class="form-field-title">Acn</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="acn_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="acn">
                        </div>

                         <div class="form-field-col3">
                            <label class="form-field-title">User Name</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="user_name_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="user_name">
                        </div>


                          <div class="form-field-col3">
                            <label class="form-field-title">Password</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="password_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="password">
                        </div>

                          <div class="form-field-col4">
                            <label class="form-field-title">No. of Props</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="num_props_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="num_props">
                        </div>

                        <div class="form-field-col4">
                            <label class="form-field-title">Props as at</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="props_as_at_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="date" value="" id="props_as_at">
                        </div>
                   
                          <div class="form-field-col3">
                            <label class="form-field-title">Renewal date</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="renewal_date_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="renewal_date">
                        </div>


                        <div class="form-field-col4">
                            <label class="form-field-title">Cnote year</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="cnote_year_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="cnote_year">
                        </div>

                         <div class="form-field-col3">
                            <label class="form-field-title">Status</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="status_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="status">
                        </div>



                         <div class="form-field-col4 form-chbox">
                            <label class="form-field-title">Referral</label>
                            <label class="check_container">
                               <!--  <input type="checkbox" name="type" id="referral_c"> -->
                            <input type="checkbox" name="checkboxonoff" id="referral">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                   <div class="form-field-col4 form-chbox">
                            <label class="form-field-title">Platinum partner</label>
                             <label class="check_container">
                            <!--    <input type="checkbox" name="type" id="platinum_partner_c">-->
                            <input type="checkbox" class="checkboxonoff" name="platinum_partner" value="" id="platinum_partner">
                                <span class="checkmark"></span>
                            </label> 
                            
                        </div>




                      
                         <div class="form-field-col4 form-chbox">
                            <label class="form-field-title">No lapse</label>
                             <label class="check_container">
                                <!-- <input type="checkbox" name="type" id="no_lapse_c"> -->
                            <input type="checkbox" class="checkboxonoff" name="no_lapse" value="" id="no_lapse">
                                <span class="checkmark"></span>
                            </label> 
                        </div>
                
                      <div class="form-field-col4">
                            <label class="form-field-title">Invoice type</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="invoice_type_c">
                                <span class="checkmark"></span>
                            </label>
                            <input type="text" value="" id="invoice_type" name="invoice_type">
                        </div>




                      <div class="form-field-col4">
                            <label class="form-field-title">Category</label>
                            <label class="check_container">
                                <input type="checkbox" name="type" id="category_c">
                                <span class="checkmark"></span>
                            </label>
                            <select id="category">
                                <option value="banking">Banking</option>
                                <option value="building inspector">Building Inspector</option>
                                <option value="cleaners">Cleaners</option>
                                <option value="finance company">Finance Company</option>
                                <option value="landlord">Landlord</option>
                                <option value="legal firm">Legal Firm</option>
                                <option value="other real estate agent">Other Real Estate Agent</option>
                                <option value="other real estate office">Other Real Estate Office</option>
                                <option value="personal">Personal</option>
                                <option value="pest inspector">Pest Inspector</option>
                                <option value="purchaser">Purchaser</option>
                                <option value="stakeholder">Stakeholder</option>
                                <option value="tenant">Tenant</option>
                                <option value="tradesman">Tradesman</option>
                                <option value="unknown">Unknown</option>
                                <option value="vendor">Vendor</option>
                            </select>
                        </div>




                    </div>
                </div>







                 

                 <div class="form-field-Submit">
                    <div class="row">

                        <div class="form-field-col12">
                            <input type="submit" value="Submit">
                        </div>

                    </div>
                </div>
             
            </form>