        <div class="row ">
                <div class="form-title">
                    <h2>Debtors(CD-O1)</h2>
                </div>
            </div>

             <form name="form-CDO2 " id="form-CDO2" class="">
					<div class="form-field-row">
					<div class="row">

						<div class="form-field-col4">
					        <label class="form-field-title">Tenant id</label>
					        <label class="check_container">
					            <input type="checkbox" name="type" id="client_id_c">
					            <span class="checkmark"></span>
					        </label>
					        <input type="text" value="" id="client_id">
					      </div>

					    <div class="form-field-col4">
					        <label class="form-field-title">Contact Name</label>
					        <label class="check_container">
					            <input type="checkbox" name="type" id="name_c">
					            <span class="checkmark"></span>
					        </label>
					        <input type="text" value="" id="name">
					    </div>
					        

					    <div class="form-field-col6">
					        <label class="form-field-title">First Name</label>
					        <label class="check_container">
					            <input type="checkbox" name="type" id="contact_1_first_c">
					            <span class="checkmark"></span>
					        </label>
					        <input type="text" value="" id="contact_1_first">
					    </div>

					     <div class="form-field-col6">
					        <label class="form-field-title">Sir Name</label>
					        <label class="check_container">
					            <input type="checkbox" name="type" id="contact_1_last_c">
					            <span class="checkmark"></span>
					        </label>
					        <input type="text" value="" id="contact_1_last">
					    </div>
					</div>
					</div>
							
						<div class="form-field-row">
						<div class="row">

						 <div class="form-field-col4">
						    <label class="form-field-title">Home Phone</label>
						    <label class="check_container">
						        <input type="checkbox" name="type" id="phone_1_c">
						        <span class="checkmark"></span>
						    </label>
						    <input type="text" value="" id="phone_1" placeholder="">
						</div>


						<div class="form-field-col4">
							<label class="form-field-title">Mobile</label>
							<label class="check_container">
						<input type="checkbox" name="type" id="mobile_c">
						<span class="checkmark"></span>
						</label>
						     <input type="text" value="" id="mobile" placeholder="">
						</div>

						<div class="form-field-col4">
							<label class="form-field-title">Email</label>
							<label class="check_container">
							<input type="checkbox" name="type" id="email_c">
							<span class="checkmark"></span>
							</label>
							<input type="email" value="" id="email" placeholder="">
						</div>


						<div class="form-field-col4">
							<label class="form-field-title">work</label>
							<label class="check_container">
							<input type="checkbox" name="type" id="work_c">
							<span class="checkmark"></span>
							</label>
							<input type="text" value="" id="work" placeholder="">
						</div>


						</div>
						</div>

							<div class="form-field-row">
							<div class="row">

								<div class="form-field-col3">
								<label class="form-field-title">DOB</label>
								<label class="check_container">
								<input type="checkbox" name="type" id="dob_c">
								<span class="checkmark"></span>
								</label>
								<input type="text" value="" id="dob">
								</div>


								 <div class="form-field-col3">
							    <label class="form-field-title">Date of entry</label>
							    <label class="check_container">
							        <input type="checkbox" name="type" id="date_of_entry_c">
							        <span class="checkmark"></span>
							    </label>
							    <input type="text" value="" id="date_of_entry">
							   </div>


							    <div class="form-field-col3">
							    <label class="form-field-title">Current Address</label>
							    <label class="check_container">
							        <input type="checkbox" name="type" id="WORKADDRESS_c">
							        <span class="checkmark"></span>
							    </label>
							    <input type="text" value="" id="WORKADDRESS">
							   </div>

							    <div class="form-field-col4">
							    <label class="form-field-title">Service address</label>
							    <label class="check_container">
							        <input type="checkbox" name="type" id="service_address_c">
							        <span class="checkmark"></span>
							    </label>
							    <input type="text" value="" id="service_address">
							</div>



							   <div class="form-field-col4">
							    <label class="form-field-title">Other contact</label>
							    <label class="check_container">
							        <input type="checkbox" name="type" id="other_contact_c">
							        <span class="checkmark"></span>
							    </label>
							    <input type="text" value="" id="other_contact">
							</div>

							     
							</div>
							</div>


							<div class="form-field-row">
							<div class="row">
							  <div class="form-field-col4">
							        <label class="form-field-title">Drive Lic state</label>
							        <label class="check_container">
							            <input type="checkbox" name="type" id="drive_lic_state_c">
							            <span class="checkmark"></span>
							        </label>
							       <!--  <input type="text" value="" id="real_group"> -->
							                <select class="browser-default custom-select" id="drive_lic_state">
							               
							                <option value="1">drive_lic_state</option>
							                <option value="2">Two</option>
							                <option value="7">Three</option>
							                </select>
							    </div>

							      <div class="form-field-col4">
							        <label class="form-field-title">Drive licance No</label>
							        <label class="check_container">
							            <input type="checkbox" name="type" id="drive_lic_num_c">
							            <span class="checkmark"></span>
							        </label>
							        <input type="text" value="" id="drive_lic_num">
							    </div>


							       <div class="form-field-col4">
							        <label class="form-field-title">Car Rego State</label>
							        <label class="check_container">
							            <input type="checkbox" name="type" id="car_rego_state_c">
							            <span class="checkmark"></span>
							        </label>
							       <!--  <input type="text" value="" id="real_group"> -->
							                <select class="browser-default custom-select" id="car_rego_state">
							               
							                <option value="1">car_rego_state</option>
							                <option value="2">Two</option>
							                <option value="7">Three</option>
							                </select>
							      </div>

							    <div class="form-field-col4 form-chbox">
							        <label class="form-field-title">Fast track</label>
							        <label class="check_container">
							           <!--  <input type="checkbox" name="type" id="fasttrack_c"> -->
							            <input type="checkbox" value=""  class="checkboxonoff"  id="fasttrack">
							            <span class="checkmark"></span>
							        </label>
							       
							    </div>


							     <div class="form-field-col4 form-chbox" >
							        <label class="form-field-title">Passport</label>
							        <label class="check_container">
							            <input type="checkbox" name="type" id="passport_c">
							            <span class="checkmark"></span>
							        </label>
							        <input type="text" value="" id="passport">
							    </div>

							    <div class="form-field-col3 form-chbox">
							        <label class="form-field-title">Interested locating</label>
							        <label class="check_container">
							            <input type="checkbox" class="checkboxonoff"  id="interested_locating">
							            <span class="checkmark"></span>
							        </label>
							       <!--  <input type="text" value="" id="interested_locating"> -->
							    </div>

							</div>
							</div>

						<div class="form-field-row">
						<div class="row">

						    <div class="form-field-col4  form-chbox">
						        <label class="form-field-title">Absconded</label>
						        <label class="check_container">
						            <input type="checkbox" class="checkboxonoff" id="absconded">
						            <span class="checkmark"></span>
						        </label>
						       <!--  <input type="text" value="" id="absconded"> -->
						    </div>

						    <div class="form-field-col4 form-chbox">
						        <label class="form-field-title">Multi notices</label>
						        <label class="check_container">
						            <input type="checkbox" class="checkboxonoff" id="multi_notices">
						            <span class="checkmark"></span>
						        </label>
						       <!--  <input type="text" value="" id="multi_notices"> -->
						    </div>


						    <div class="form-field-col4 form-chbox">
						        <label class="form-field-title">Eviction</label>
						        <label class="check_container">
						            <input type="checkbox" class="checkboxonoff" id="eviction">
						            <span class="checkmark"></span>
						        </label>
						        <!-- <input type="text" value="" id="eviction"> -->
						    </div>

						</div>
						</div> 

							<div class="form-field-row">
							<div class="row">

									<div class="form-field-col4 form-chbox">
									<label class="form-field-title">Record of dispute</label>
									<label class="check_container">
									<input type="checkbox" class="checkboxonoff"  id="record_of_dispute">
									<span class="checkmark"></span>
									</label>
									<!-- <input type="text" value="" id="record_of_dispute"> -->
									</div>

									<div class="form-field-col4 form-chbox">
									<label class="form-field-title">record of debt</label>
									<label class="check_container">
									<input type="checkbox" class="checkboxonoff" id="record_of_debt">
									<span class="checkmark"></span>
									</label>
									<!-- <input type="text" value="" id="record_of_debt"> -->
									</div>


									<div class="form-field-col4 form-chbox">
									<label class="form-field-title">Debt cleared</label>
									<label class="check_container">
									<input type="checkbox" class="checkboxonoff"  id="debt_cleared">
									<span class="checkmark"></span>
									</label>
									<!-- <input type="text" value="" id="debt_cleared"> -->
									</div>

									<div class="form-field-col4 form-chbox">
									<label class="form-field-title">Tenant check</label>
									<label class="check_container">
									<input type="checkbox" class="checkboxonoff"  id="tenant_check">
									<span class="checkmark"></span>
									</label>
									<!--  <input type="text" value="" id="tenant_check"> -->
									</div>


							</div>
							</div>

								<div class="form-field-row">
								<div class="row">

								<div class="form-field-col4">
								<label class="form-field-title">Managing Agent</label>
								<label class="check_container">
								    <input type="checkbox" name="type" id="managing_agent_c">
								    <span class="checkmark"></span>
								</label>
								<input type="text" value="" id="managing_agent">
								</div>

								<div class="form-field-col4">
								<label class="form-field-title">Description</label>
								<label class="check_container">
								    <input type="checkbox" name="type" id="description_c">
								    <span class="checkmark"></span>
								</label>
								<input type="text" value="" id="description">
								</div>


								<div class="form-field-col4">
								<label class="form-field-title">Sex</label>
								<label class="check_container">
								    <input type="checkbox" name="type" id="sex_c">
								    <span class="checkmark"></span>
								</label>
								<input type="text" value="" id="sex">
								</div>



								</div>
								</div>


								<div class="form-field-row">
								<div class="row">

								    <div class="form-field-col4 form-chbox">
								        <label class="form-field-title">Defrelest</label>
								        <label class="check_container">
								            <input type="checkbox" name="type" id="DEFRELEST_c">
								            <span class="checkmark"></span>
								        </label>
								        <input type="text" value="" id="DEFRELEST">
								    </div>

								    <div class="form-field-col4 form-chbox">
								        <label class="form-field-title">FORM 11</label>
								        <label class="check_container">
								            <input type="checkbox" class="checkboxonoff" id="FORM11">
								            <span class="checkmark"></span>
								        </label>
								       <!--  <input type="text" value="" id="FORM11"> -->
								    </div>


								    <div class="form-field-col4 form-chbox">
								        <label class="form-field-title">FORM12</label>
								        <label class="check_container">
								            <input type="checkbox" class="checkboxonoff" id="FORM12">
								            <span class="checkmark"></span>
								        </label>
								    <!--    <input type="text" value="" id="WAROFPOS"> -->
								    </div>

								</div>
								</div>

									<div class="form-field-row">
									<div class="row">
									     <div class="form-field-col4 form-chbox">
									        <label class="form-field-title">WAROFPOS</label>
									        <label class="check_container">
									            <input type="checkbox" class="checkboxonoff" id="WAROFPOS">
									            <span class="checkmark"></span>
									        </label>
									        <!-- <input type="text" value="" id="WAROFPOS"> -->
									    </div>
									     <div class="form-field-col4">
									        <label class="form-field-title">AMNT OF DEF</label>
									        <label class="check_container">
									            <input type="checkbox" name="type" id="AMNTOFDEF_c">
									            <span class="checkmark"></span>
									        </label>
									        <input type="text" value="" id="AMNTOFDEF">
									    </div>


									    <div class="form-field-col4 form-chbox">
									        <label class="form-field-title">DODS</label>
									        <label class="check_container">
									            <input type="checkbox" class="checkboxonoff" id="DODS">
									            <span class="checkmark"></span>
									        </label>
									    <!--     <input type="text" value="" id="DODS"> -->
									    </div>


									     <div class="form-field-col4">
									        <label class="form-field-title">Paid</label>
									        <label class="check_container">
									            <input type="checkbox" name="type" id="paid_c">
									            <span class="checkmark"></span>
									        </label>
									        <input type="text" value="" id="paid">
									    </div>

									     <div class="form-field-col4">
									        <label class="form-field-title">Stillowing</label>
									        <label class="check_container">
									            <input type="checkbox" name="type" id="stillowing_c">
									            <span class="checkmark"></span>
									        </label>
									        <input type="text" value="" id="stillowing">
									    </div>

									 </div>
									</div>


								<div class="form-field-row">
								<div class="row">
								      <div class="form-field-col4 form-chbox">
								        <label class="form-field-title">Chkba</label>
								        <label class="check_container">
								            <input type="checkbox" class="checkboxonoff" id="chkba">
								            <span class="checkmark"></span>
								        </label>
								       <!--  <input type="text" value="" id="chkba"> -->
								    </div>


								    <div class="form-field-col4 form-chbox">
								        <label class="form-field-title">Chkbb</label>
								        <label class="check_container">
								            <input type="checkbox" class="checkboxonoff" id="chkbb">
								            <span class="checkmark"></span>
								        </label>
								       <!--  <input type="text" value="" id="chkbb"> -->
								    </div>

								     <div class="form-field-col4 form-chbox">
								        <label class="form-field-title">Chkbc</label>
								        <label class="check_container">
								            <input type="checkbox" class="checkboxonoff" id="chkbc">
								            <span class="checkmark"></span>
								        </label>
								       <!--  <input type="text" value="" id="chkbc"> -->
								    </div>

								    <div class="form-field-col4 form-chbox">
								        <label class="form-field-title">Chkbd</label>
								        <label class="check_container">
								            <input type="checkbox" class="checkboxonoff" id="chkbd">
								            <span class="checkmark"></span>
								        </label>
								         <!-- <input type="text" value="" id="chkbd"> -->
								    </div> 


								    <div class="form-field-col4 form-chbox">
								        <label class="form-field-title">Chkbe</label>
								        <label class="check_container">
								            <input type="checkbox" class="checkboxonoff" id="chkbe">
								            <span class="checkmark"></span>
								        </label>
								      <!--   <input type="text" value="" id="chkbe"> -->
								    </div>

								       <div class="form-field-col4 form-chbox">
								        <label class="form-field-title">Chkbc</label>
								        <label class="check_container">
								            <input type="checkbox" class="checkboxonoff" id="chkbf">
								            <span class="checkmark"></span>
								        </label>
								      <!--   <input type="text" value="" id="chkbf"> -->
								    </div>

								    <div class="form-field-col4 form-chbox">
								        <label class="form-field-title">Chkbg</label>
								        <label class="check_container">
								            <input type="checkbox" class="checkboxonoff" id="chkbg">
								            <span class="checkmark"></span>
								        </label>
								      <!--   <input type="text" value="" id="chkbg"> -->
								    </div>


								    <div class="form-field-col4 form-chbox">
								        <label class="form-field-title">Chkbxh</label>
								        <label class="check_container">
								            <input type="checkbox" class="checkboxonoff" id="chkbxh">
								            <span class="checkmark"></span>
								        </label>
								       <!--  <input type="text" value="" id="chkbxh"> -->
								    </div>


								</div>
								</div>


								<div class="form-field-row">
								<div class="row">

								<div class="form-field-col4 form-chbox">
								    <label class="form-field-title">CgkBxInterestInLoc</label>
								    <label class="check_container">
								        <input type="checkbox" class="checkboxonoff" id="CgkBxInterestInLoc">
								        <span class="checkmark"></span>
								    </label>
								    <!-- <input type="text" value="" id="CgkBxInterestInLoc"> -->
								</div>

								<div class="form-field-col4 form-chbox">
								    <label class="form-field-title">ChkBxDispResIFOTen</label>
								    <label class="check_container">
								        <input type="checkbox" class="checkboxonoff" id="ChkBxDispResIFOTen">
								        <span class="checkmark"></span>
								    </label>
								   <!--  <input type="text" value="" id="ChkBxDispResIFOTen"> -->
								</div>


								<div class="form-field-col4 form-chbox">
								    <label class="form-field-title">ChkBxTribunalOrder</label>
								    <label class="check_container">
								        <input type="checkbox" class="checkboxonoff" id="ChkBxTribunalOrder">
								        <span class="checkmark"></span>
								    </label>
								    <!-- <input type="text" value="" id="ChkBxTribunalOrder"> -->
								</div>

								</div>
								</div>


								<div class="form-field-row ">
								<div class="row">


								<div class="form-field-col4">
								    <label class="form-field-title">Dispute Pending Start Date</label>
								    <label class="check_container">
								        <input type="checkbox" name="type" id="DisputePendingStartDate_c">
								        <span class="checkmark"></span>
								    </label>
								    <input type="text" value="" id="DisputePendingStartDate">
								</div>

								  <div class="form-field-col4">
								    <label class="form-field-title">Work Address</label>
								    <label class="check_container">
								        <input type="checkbox" name="type" id="WORKADDRESS_c">
								        <span class="checkmark"></span>
								    </label>
								    <input type="text" value="" id="WORKADDRESS">
								</div>
								<div class="form-field-col4">
								    <label class="form-field-title">Work Position</label>
								    <label class="check_container">
								        <input type="checkbox" name="type" id="WorkPosition_c">
								        <span class="checkmark"></span>
								    </label>
								    <input type="text" value="" id="WorkPosition">
								</div>

								<div class="form-field-col4">
								    <label class="form-field-title">Work Hours</label>
								    <label class="check_container">
								        <input type="checkbox" name="type" id="WorkHours_c">
								        <span class="checkmark"></span>
								    </label>
								    <input type="text" value="" id="WorkHours">
								</div>

								  <div class="form-field-col4 form-chbox">
								    <label class="form-field-title">From Web</label>
								    <label class="check_container">
								        <input type="checkbox"  class="checkboxonoff" id="FromWeb">
								        <span class="checkmark"></span>
								    </label>
								   <!--  <input type="text" value="" id="FromWeb"> --> 
								</div>
								<div class="form-field-col4 form-chbox">
								    <label class="form-field-title">With hold data</label>
								    <label class="check_container">
								        <input type="checkbox"  class="checkboxonoff"  id="WithholdData">
								        <span class="checkmark"></span>
								    </label>
								  <!--   <input type="text" value="" id="WithholdData"> -->
								</div>

								</div>
								</div>


							<div class="form-field-Submit">
							<div class="row">

									<div class="form-field-col12">
									<input type="submit" value="Submit">
									</div>
							</div>
							</div>
                   
                
            </form>
